<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.online.bookstore.servlet.UserLogin</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.online.bookstore.servlet.Registration</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.online.bookstore.servlet.AddBookServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.online.bookstore.servlet.DeleteBookServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ViewBookServlet</servlet-name>
        <servlet-class>com.online.bookstore.servlet.ViewBookServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateBookGetData</servlet-name>
        <servlet-class>com.online.bookstore.servlet.UpdateBookGetData</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>BuyBookServlet</servlet-name>
        <servlet-class>com.online.bookstore.servlet.BuyBookServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SuccessFullPerches</servlet-name>
        <servlet-class>com.online.bookstore.servlet.SuccessFullPerches</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>BookUpdateServlet</servlet-name>
        <servlet-class>com.online.bookstore.servlet.BookUpdateServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>YourProfileServlet</servlet-name>
        <servlet-class>com.online.bookstore.servlet.YourProfileServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Edit_returnAjax</servlet-name>
        <servlet-class>com.online.bookstore.servlet.Edit_returnAjax</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ImageDisplay</servlet-name>
        <servlet-class>com.online.bookstore.servlet.ImageDisplay</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>ViewBookServlet</servlet-name>
        <url-pattern>/ViewBookServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>UpdateBookGetData</servlet-name>
        <url-pattern>/UpdateBookGetData</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>BuyBookServlet</servlet-name>
        <url-pattern>/BuyBookServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SuccessFullPerches</servlet-name>
        <url-pattern>/SuccessFullPerches</url-pattern>
    </servlet-mapping>
    
   <servlet-mapping>
        <servlet-name>YourProfileServlet</servlet-name>
        <url-pattern>/YourProfileServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>Edit_returnAjax</servlet-name>
        <url-pattern>/Edit_returnAjax</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>BookUpdateServlet</servlet-name>
        <url-pattern>/BookUpdateServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>ImageDisplay</servlet-name>
        <url-pattern>/ImageDisplay</url-pattern>
    </servlet-mapping>
    
</web-app>
